body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.banner {
  margin: 30px auto;
}

.form-group {
  margin: 30px auto;
  width: 700px;
}
#password-req {
  width: 700px;
  margin: 30px auto;
  color: #b43e3e;
  border: 3px solid #b43e3e;
  padding: 10px;
  border-radius: 10px;
}

.alert {
  margin: 30px auto;
  width: 700px;
}
